extends ../mixins/layout

block title
  title="Classement - Code Wars"

block header
  +header()

block score
  +scoreBoard()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100.mb-4
        h1 Classement
      if current.position > 3
        .w-100.leaderboard.mb-4
          .position.row.m-0.p-4.bg-accent
            span Votre position actuelle :
          .position-info.row.m-0.px-2.py-4.d-flex.align-items-center.w-100.bg-white
            if profileImageUrl !== null
              img.rounded-img(src=profileImageUrl).not-top-3
            else
              .profile-bg.rounded-img.not-top-3.ml-3.mr-3.position-relative(class=(student.team_id === 1) ? "bg-red": "bg-blue")
                p.mb-0.initials-small.initials.text-dark=current.initials
            .col-1.d-flex.align-items-center.justify-content-end
              span ##{current.position}
            .col-6
              span #{current.username}
            .col.row.d-flex.align-items-center
              .col-6.d-flex.justify-content-end
                p.mr-3
                  +star_wars_points(current.points)
              .col-6.d-flex.justify-content-end
                p.m-0 #{current.team_name}

      .leaderboard.w-100
        .flex-column
          each student, index in students
            .row.p-3.px-0.d-flex.align-items-center.w-100(class=(current.position === (index + 1) ? 'accent': ''))
              if index < 3
                div.gravatar-container.position-relative.text-dark
                  if student.gravatarAvailable
                    img.rounded-img.position-absolute(data-gravatar data-email=student.email class="position" + index)
                    .top-3.text-center(class="position" + index)
                      if index === 0
                        i.fa.fa-trophy
                      else
                        i.fa.fa-medal
                  else
                    .profile-bg(class=(student.team_id === 1) ? "bg-red": "bg-blue")
                      .top-3.text-center(class="position" + index)
                        if index === 0
                          i.fa.fa-trophy
                        else
                          i.fa.fa-medal
                      p.mb-0.initials=student.initials
                .col-1.d-flex.align-items-center.justify-content-end
                  h4.my-0.mx-4.text-dark ##{index + 1}
                .col-6
                  h4.text-dark.mb-0 #{student.username}
              else
                if student.gravatarAvailable
                  img.rounded-img(data-gravatar data-email=student.email).ml-3.mr-3
                else
                  .profile-bg.rounded-img.position-relative(class=(student.team_id === 1) ? "bg-red": "bg-blue")
                    p.initials.mb-0.text-dark=student.initials
                .col-1.d-flex.align-items-center.justify-content-end
                  span.mr-4.ml-4.text-dark ##{index + 1}
                .col-6
                  span.text-dark #{student.username}
              .col.row.d-flex.align-items-center
                .col-6.d-flex.justify-content-end
                  p.mr-3
                    +star_wars_points(student.points)
                .col-6.d-flex.justify-content-end
                  +teamName(student.team_name)
            hr.m-0.w-100

block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js")
  script(src="/javascripts/gravatar.js")
