extends ../mixins/layout

block title
  title="Classement - Code Wars"

block header
  +header()

block score
  +scoreBoard()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        h1 Classement
        hr
      .leaderboard.w-100
        .flex-column
          each student, index in students
            .row.py-3.px-0.d-flex.align-items-center.w-100
              if index < 3
                div.position-relative.gravatar-container
                  img.rounded-img.position-absolute(src=student.gravatarUrl)
                  .leaderboard-overlay.position-absolute(class="position" + index)
              else
                img.rounded-img(src=student.gravatarUrl)
              .col-1.d-flex.align-items-center.justify-content-end
                h4.mt-2.mr-4.ml-4 ##{index + 1}
              .col-6
                h4.mt-2 #{student.username}
              .col.row.d-flex.align-items-center
                .col-6.d-flex.justify-content-end
                  p.mr-3
                    +star_wars_points(student.points)
                .col-6.d-flex.justify-content-end
                  p.m-0 #{student.team_name}
            hr.m-0.w-100
