extends ../../mixins/layout

block title
  title Ajout Rapide - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 Ajout rapide
        hr
      form.w-100(method='post', action="/management/students/rapidAdd")
        .form-row
          .form-group.col-6
            label(for="for") Pour
            select.form-control(id='for', name='for' required)
              option(value="team" selected=(val('for') === "team")) Pour l'équipe complète
              option(value="student" selected=(val('for') === "student")) Pour un élève
          .form-group.col-6.hidden#team
            label(for="team_id") Équipes
            select.form-control(id='team_id', name='team_id')
              option(value=null disabled="disabled" selected=true) Selectionnez une équipe
              each team in teams
                option(value=team.id selected=(val('team_id') === team.id))
                  | #{team.name}
          .form-group.hidden.col-6#student
            label(for="student_da") Élève
            select.form-control(id='student_da', name='student_da')
              option(value=null disabled="disabled" selected=true) Selectionnez un élève
              each student in students
                option(value=student.da selected=(val('student_da') === student.da))
                  | #{student.firstname} #{student.lastname}
        .form-row
          .form-group.col-6
            label(for="cash") Argent (Optionnel)
            input.form-control(placeholder="0" id='cash', name='cash', type='number' value=0)
          .form-group.col-6
            label(for="points") Points (Optionnel)
            input.form-control(placeholder="0" id='points', name='points', type='number' value=0)
        .form-row
          button#submitBtn.btn.w-100(type='submit')
            i.fas.fa-plus-square.mr-2
            | Ajouter

block script
  script(src="/javascripts/rapidAdd.js")