extends ../../mixins/layout

block title
  title Étudiants - Code Wars

block header
  include ../../mixins/header
  +header()
block body
  +flash
  .student-form-container
    h4 #{title}
    hr
    form(method='post', action=action)
      if editStudent === null
        .form-row
          .form-group.col-12
            label DA
            input.form-control(id='da', name='da', type='text' value=val('da') placeholder="7777777")
      .form-row
        .form-group.col-6
          label(for="firstname") Prénom
          input.form-control(placeholder="Joshua" id='firstname', name='firstname', type='text' value=(editStudent !== null) ? editStudent.firstname: val('firstname'))
        .form-group.col-6
          label(for="lastname") Nom
          input.form-control(placeholder="Leblanc" id='lastname', name='lastname', type='text' value=(editStudent !== null) ? editStudent.lastname: val('lastname'))
      .form-row
        .form-group.col-12
          label(for="team_id") Équipe
          select.form-control(id='team_id', name='team_id' required)
              each team in teams
                if editStudent !== null
                  if editStudent.team_id === team.id
                    option(value=team.id, selected)
                      | #{team.name}
                  else
                    option(value=team.id)
                      | #{team.name}
                else
                  option(value=team.id)
                    | #{team.name}
      .form-row
        .form-group.col-6
          label(for="cash") Argent (Optionnel)
          input.form-control(placeholder="0" id='cash', name='cash', type='number' value=(editStudent !== null) ? editStudent.cash : val('cash'))
        .form-group.col-6
          label(for="points") Points (Optionnel)
          input.form-control(placeholder="0" id='points', name='points', type='number' value=(editStudent !== null) ? editStudent.points : val('points'))

      .form-row
        button#submitBtn.btn(type='submit')
          if editStudent !== null
            | Modifier
          else
            | Créer

