extends ../../mixins/layout

block title
	title Étudiants - Code Wars

block header
	+header()
block body
	#circle
	#circleSmallRight
	.main-container
		+flash
		h1 Étudiants
		a(href='/management/students/create')
			button.btn.btn-yellow#Btn
				p
					i.fas.fa-plus-square
					| Nouvel étudiant

		.student-list
			.row
				.col-2
					h4.student-header-element DA
				.col-3
					h4.student-header-element Nom
				.col-2
					h4.student-header-element Équipe
				.col-3
					h4.student-header-element Balance
				.col-1
				.col-1
			each student in students
				.row.student-row.box-shadow.mb-4
					.col-2
						p.student-row-element #{student.da}
					.col-3
						p.student-row-element #{student.firstname} #{student.lastname}
					.col-2
						p.student-row-element #{student.team_name}
					.col-3
						p.student-row-element #{format('money', student.cash)}
					.col-1
						a(href='/management/students/' + student.da + '/edit')
							i.fas.fa-edit.student-icons
					.col-1
						a(href='/management/students/' + student.da + '/delete')
							i.fas.fa-trash.student-icons
