include ../../mixins/base

doctype html
html
  head
    title Creer un exercise - Code Wars
    meta(charset='utf-8')
    body
      h2
        | #{title}
      +flash
      form(method='post', action=action)

        label
          | Nom de l'exercise
        br
        if exercise !== null
          input(id='exercisename', name='exercisename', type='text' value=exercise.name)
        else
          input(id='exercisename', name='exercisename', type='text' value=val('exercisename'))
        br

        label
          | Difficulté
        br
        if exercise !== null
          input(id='difficulty', name='difficulty', type='number' min='1' max='10' value=exercise.difficulty)
        else
          input(id='difficulty', name='difficulty', type='number' min='1' max='10' value=val('difficulty'))
        br

        label
            | Description
        br
        if exercise !== null
          textArea(id='description', name='description', type='text')
            | #{exercise.description}
        else
          textArea(id='description', name='description', type='text')=val('description')
        br

        label
          | Exemple d'exécution (optionel)
        br
        if exercise !== null
          textArea(id='exemple', name='exemple', type='text')
            | #{exercise.execution_exemple}
        else
          textArea(id='exemple', name='exemple', type='text')=val('exemple')
        br

        label
          | Conseil (Optionel)
        br
        if exercise == null
          textArea(id='tips', name='tips', type='text'  value=val('tips'))
        br

        label
          | Argent
        br
        if exercise !== null
          input(id='cash', name='cash', type='text' value=exercise.cash_reward)
        else
          input(id='cash', name='cash', type='text' value=val('cash'))
        br

        label
          | Points
        br
        if exercise !== null
          input(id='point', name='point', type='text' value=exercise.point_reward)
        else
          input(id='point', name='point', type='text' value=val('point'))
        br
        br

        label
          | Semaine
        br
        select.form-control(id='week_id', name='week_id')
          each week in weeks
            option(value=week.id)
              | #{week.number}
        br
        br
        if exercise !== null
          button(type='submit')
            | Editer
        else
          button(type='submit')
            | Creer