mixin header()
  header.container.mt-1
    nav
      a.logo(href="/home")
        | Code
        | wars
      ul.menu-items.d-flex
        li
          a(href="/home") Accueil
        li
          a(href="/teams") Équipes
        li
          a(href="/exercises") Missions
        li
          a(href="/market") Magasin
        if user.isTeacher
          li
            a(href="/management/correction") Correction
    .d-flex.flex-row
      #student.d-flex.align-items-center
        .text-right.pr-3.d-flex.flex-column
          if !user.isTeacher
            h6 #{user.firstname} #{user.lastname}
            h6 #{format('money', student.cash)} | #{student.points} pts
          else
            h6 Professeur
      if !user.isTeacher
        a.profile-pic(href="/profile")
            img(src=profileImageUrl)
        a(href="/profile/notifications").disconnect.mr-2
          button.ml-3
            i#bell.fas.fa-bell
      form.disconnect.mr-2(action="/logout", method="post")
        button.ml-3
          i#icon-header.fas.fa-power-off
