mixin header()
  header.container.mt-1
    nav
      a.logo(href="/home")
        | Code
        | wars
      #hamburger-menu.ml-5
        i#bars.fas.fa-bars
        i#times.fas.fa-times.hidden
      ul.menu-items.d-flex
        li
          a(href="/home") Accueil
        li
          a(href="/leaderboard") Classement
        li
          a(href="/teams") Équipes
        li
          a(href="/exercises") Missions
        li
          a(href="/market") Magasin
        if user.isTeacher
          li
            a(href="/management/correction") Correction
    .d-flex.flex-row
      .d-flex.align-items-center
        .text-right.pr-3.d-flex.flex-column
          if !user.isTeacher
            h6 #{student.username}
            .d-flex.justify-content-end.align-items-center
              h6.mr-3
                +star_wars_money(student.cash)
              h6
                +star_wars_points(student.points)
          else
            if profileImageUrl !== null
              a.profile-pic
                img(src=profileImageUrl)
            else
              h6 Enseignant
      if !user.isTeacher
        .profile-pic-container
          if profileImageUrl !== null
            a.profile-pic(href="/profile")
              img(src=profileImageUrl)
              img(src=profileTeamImg)#profileTeamImg
          else
            a.profile-pic(href="/profile")
              .profile-bg
              img(src=profileTeamImg)#profileTeamImg
            p.initials #{student.initials}

      .d-flex.ml-3
        .notification-container
          a#notifBtn(href="/profile/notifications").bell
            button.mr-2
              i#bell.fas.fa-bell
            if hasNotifications
              span#hasNotifIcon

        if user.isTeacher
          .dropdown.d-flex.align-items-center
            button(id="managementDropdown" type="button" data-bs-toggle="dropdown").btn.bg-transparent.gestion-button
              i#icon-header.fas.fa-cog
            ul(aria-labelledby="managementDropdown").dropdown-menu.dropdown-menu-end
              li.p-1
                a(href="/management/students").dropdown-item Étudiants
              li.p-1
                a(href="/management/items").dropdown-item Magasin
              li.p-1
                a(href="/management/exercises").dropdown-item Missions
              li.p-1
                a(href="/management/weeks").dropdown-item Semaines
        form.disconnect(action="/logout", method="get")
          button
            i#icon-header.fas.fa-power-off
