mixin teamMember(member, index)
  .team-member.mx-4.my-3
    .row.border-bottom
      .col-6
        h6 #{member.firstname} #{member.lastname}
      if index === 0
        .col-5.pr-0
          h6.text-right
           | #{member.cash} $ | #{member.points} pts
        .col-1
          i.fas.fa-medal
      else
        .col-6.pr-2
          h6.text-right
            | #{member.cash} $ | #{member.points} pts