mixin weekProgress(week)
  .d-flex.align-items-center.my-4
    .week-number.pl-0
      p.mb-0 Semaine #{week.number} :
    .mt-1.w-100
      .progress
        .progress-bar(style="width: " + week.progress + "%").bg-accent
    .pr-0.week-progress
      if week.nbExercise !== "N/A"
        p.mb-0 #{week.progress} %
      else
        p.mb-0=week.nbExercise

mixin weekProgressSmall(week)
  .row.my-2.d-flex.align-items-center
    .col-4.d-flex.justify-content-end
      a(href="#weekExercises" + week.week_id)
        small Semaine #{week.number}
    .col-5.mt-1.p-0
      .progress
        .progress-bar(style="width: " + week.progress + "%").bg-accent
    .col-3
      if week.nbExercise !== "N/A"
        small.mb-0.text-muted #{week.progress} %
      else
        small.mb-0.text-muted=week.nbExercise