extends ../../mixins/layout

block title
  title Correction - Code Wars

block header
  +header()

block body
  +flash
  .row.mission-header
    h1.mb-3 #{exercise.name} - #{user.firstname} #{user.lastname}
  .container
    .exercise-submit-detail.box-shadow.mb-4
      h3.p-4 #{user.firstname} #{user.lastname} a remis cette mission le #{format('date', studentExercise.submit_date)}
      .d-flex
        .exercise-content.p-4.w-100
          pre
            code.p-4.language-java=fileContent
        .row.side-options.d-flex.flex-column.align-items-start.w-auto
          div.text-center.w-100.pl-0.pt-4.pr-4.pb-4
            h4.w-100 Laisser un commentaire
            button(data-toggle="modal" data-target="#comment-modal-1").open-commentModal.bg-transparent.btn
              i.fas.fa-comment-medical.student-icons.fa-2x
          div.text-center.w-100.pl-0.pt-4.pr-4.pb-4
            h4.w-100 Marquer corrigé
            a(href='/management/correction/correct/' + exercise.student_da + "/" + exercise.id)
              i.fas.fa-edit.student-icons.fa-2x
          div.text-center.w-100.pl-0.pt-4.pr-4.pb-4
            h4.w-100 Télécharger
            a(href='/management/correction/download/' + exercise.id)
              i.fas.fa-download.student-icons.fa-2x
        .modal.fade(id=("comment-modal-1") tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true")
          .modal-dialog(role="document")
            .modal-content
              .modal-header
                h5.modal-title(id="addModalLabel") Add a service
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                form(method="post", action="/password/addService")
                  .form-group
                    label.form-label() Username
                    input.form-control(name="username")
                  .form-group
                    button.btn.btn-secondary(type="button"  data-dismiss="modal") Close
                    button.btn.btn-primary(type="submit") Save changes



block script
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src="/javascripts/vendor/bootstrap.min.js")
  script(src="/javascripts/vendor/jquery-3.5.1.min.js")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/obsidian.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js')
  script(nonce=nonce()).
    hljs.highlightAll({
        "theme": "dark"
    });
