extends ../../mixins/layout

block title
  title Correction - Code Wars

block header
  +header()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 Correction
        hr
      .exercise-submit-detail.w-100
        .row.pt-4.pb-0
          .d-flex.align-items-center
            h4 #{studentName} a remis l'exercise le #{format('datetime', studentExercise.submit_date)}.
        .d-inline-block
          h6.text-muted Soumission de l'exercise
        .d-inline-block.mx-1
          a(href="/exercises/" + exercise.id)
            .text-muted.font-italic #{exercise.name}.
        h6.text-muted Une réponse correcte octroie une récompense de #{exercise.cash_reward}$ et #{exercise.point_reward} points.
          | Vous pouvez également laisser un commentaire à l'élève.
        br
        h5 Commentaire de l'étudiant
        p.mb-0.text-muted=studentExercise.student_comment
        pre.mb-0
          if fileContent == null
            code.p-4.language-java Le fichier remis ne peut être lu
          else
            code.p-4.language-java=fileContent
        .d-flex.align-items-center.justify-content-end.w-100
          a(href='/management/correction/download/' + studentExercise.id).download-button.align-self-end.p-2
            span.mr-3 Télécharger
            i.fas.fa-download
        form.correct-form.w-100.mb-0(action="/management/correction/correct/" + studentExercise.student_da + "/" + studentExercise.id method="post")
          .form-row.mt-4
            .form-group.col-12.mb-4
              textarea(id="comment" rows=6 name="comment" placeholder="Commentaire (Optionnel)").form-control
          .form-row
            .form-group.col.d-flex.justify-content-end.mb-0
              button(type="submit").p-3.m-auto
                i.fas.fa-check.student-icons.mr-2
                span.mr-3 Réponse correcte

block script
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/obsidian.min.css')
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src="/javascripts/vendor/bootstrap.min.js")
  script(src="/javascripts/vendor/jquery-3.5.1.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js')
  script(nonce=nonce()).
    hljs.highlightAll({
        "theme": "dark"
    });
