extends ../mixins/layout

block title
  title #{exercise.name} - Code Wars

block header
  +header()

block body
  .container
    .single-mission-detail(class=state)
      h1#mission-title=exercise.name
      hr.separator
      h3.mb-2 Débriefing de la mission
      p.mission-description=exercise.description
        .mission-info.px-0
          .row.mission-week
            .col-2.mb-0
              i.fas.fa-calendar-alt
            .col-8.mb-0
              span Semaine #{exercise.week_id}
          .row.mission-cash-reward
            .col-2.mb-0
              img(src="/assets/images/credit_symbol.svg").svg-icons
            .col-8.mb-0
              span #{format('decimal', exercise.cash_reward, 0, 0)}
          .row.mission-point-reward
            .col-2.mb-0
              img(src="/assets/images/ethereum_symbol.svg").svg-icons
            .col-8.mb-0
              span #{format('decimal', exercise.point_reward, 0, 0)}
          .row.mission-state
            if isTeacher
              .col-2.mb-0
                i.far.fa-edit
              .col-8.mb-0
                span.font-weight-light
                  a(href="/management/exercises/" + exercise.id + "/edit") Editer l'exercise
            else
              if corrected
                .col-2.mb-0
                  i.far.fa-check-circle.corrected
                .col-8.mb-0
                  span.font-weight-light Complétée
              else if !is_good
                .col-2.mb-0
                  i.far.fa-times-circle.not-submitted
                .col-8.mb-0
                  span.font-weight-light Échouée
              else if !submitted
                .col-2.mb-0
                  i.far.fa-times-circle.not-submitted
                .col-8.mb-0
                  span.font-weight-light Non débutée
              else
                .col-2.mb-0
                  i.far.fa-check-circle.submitted
                .col-10.mb-0
                  small En cours
          .col-12.mission-difficulty-container.mb-1
            span.mb-2 Achèvement
            h6.text-muted=completion + " % des élèves ont complété l'exercice"
          .col-8.mission-difficulty-container
            span.mb-2 Difficulté
            .difficulty-stars
              - var i = 0
              - var difficultyDifference = 5 - exercise.difficulty
              while i < exercise.difficulty
                i.fas.fa-star.active
                - i++
              - var i = 0
              while i < difficultyDifference
                i.fas.fa-star
                - i++
        .mission-submit
          if !corrected && !submitted && !isTeacher
            a(href="/exercises/submit/" + exercise.id).mb-0
              button(type="submit").btn.btn-yellow
                +teamIcon(student)
                p Soumettre une solution
          else if !corrected && submitted && !isTeacher
            form(action="/exercises/cancel/" + exercise.id method="POST").mb-0
              button(type="submit").btn.btn-yellow
                +teamIcon(student)
                p Annuler la remise
          else if !isTeacher && corrected
            .btn-disabled
              p Corrigé
        if exercise.execution_exemple !== ""
          div.mission-execution-example.my-5
            h3 Exemple d'exécution
            pre=exercise.execution_exemple
        if tips != null
          .mission-tips
            if isTeacher
              h3
                a(href="/management/exercises/" + exercise.id + "/tips").d-inline-block Indices de mission
            else
              h3 Indices de mission
            hr
            each tip in tips
              .row
                u
                if tip.bought
                  if isTeacher
                    li
                      a(href="/management/exercises/" + exercise.id + "/tips/" + tip.id + "/edit").pl-0.mb-3.d-inline-block=tip.tip
                      p.d-inline-block.ml-1 (#{tip.price}$)
                  else
                    li.pl-0.mb-3=tip.tip
                else
                  if !isTeacher && !corrected
                    form(action="/exercises/tips/" + tip.id + "/buy" method="post").position-relative.foreground.w-100
                      button.btn.btn-yellow.position-absolute.tip-buy-button
                        +star_wars_money(tip.price)
                  p(class=(isTeacher) ? '': 'blur').my-4.pl-0=tip.tip
        if imageExamples != null
          div.mission-image-example.mt-5
            h3 Exemple
            each example in imageExamples
              img(src=example.path + "/" + example.name_hash + "." + example.file_extension)

block script
  script(src='/javascripts/upload.js')
