extends ../mixins/layout

block title
  title Missions - Code Wars

block header
  +header()

block score
  +scoreBoard()

block body
  .container
    .row.mt-5.p-4.main-card
      .w-100
        .d-flex.justify-content-between.align-items-center
          h1 Missions
          if user.isTeacher
            a(href='/management/exercises').no-decoration
              button.btn.btn-yellow
                p.mb-0
                  i.fas.fa-plus-square.mr-2
                  | Gestion des missions
        hr
      .row.all-missions.col.p-0
        each week, index in exercisesByWeek
          .week.w-100
            .row.mb-4.d-flex.align-items-end.p-0
              h4.week-header.mb-0 Semaine #{week.number} - #{format('date', week.startDate)}
            table.table(id="weekExercises" + index).w-100
              tbody.w-100
                if week.exercises != null
                  each exercise in week.exercises
                    tr.text-dark
                        td
                        td
                          a(href="/exercises/" + exercise.id)
                           | #{exercise.name}
                        td
                          +star_wars_money(exercise.cash_reward)
                        td
                          +star_wars_points(exercise.point_reward)
                        if !user.isTeacher
                          td
                            .d-flex.align-items-center.mt-1
                              if exercise.corrected
                                i.fas.fa-check-circle.corrected(title="Corrigé")
                              else if exercise.completed
                                i.fas.fa-check-circle.submitted(title="Remis")
                              else
                                i.fas.fa-times-circle.not-submitted(title="Non-remis")
                else
                  span.text-muted.ml-4 Aucun exercise pour cette semaine
      .col-5.pr-0.pl-5
        if student != null
          .mission-progression.card.mb-4.w-100.fixed-ct
            .card-body.pb-0
              h4.mb-3.text-center Progression individuelle
              p.mb-0.text-center Vous avez complété #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal}
              include ../mixins/weekProgress
              each week in weeklyProgress
                +weekProgressSmall(week)
