extends ../mixins/layout

block title
  title #{exercise.name} - Code Wars

block header
  +header()

block body
  +flash
  form.container.main-card.single-mission-submit(action=action  method="post" enctype="multipart/form-data")
    input(type="hidden" name="exerciseName" value=exercise.name)
    h1 Fichier(s) à soumettre
    hr.separator
    p
    | Vous vous aprêter à soumettre une solution pour le contrat « #{exercise.name} »
    | de la semaine #{exercise.week_id}. La réussite de cette mission vous octroiera
    div.mission-results.mt-3.mb-3
      +star_wars_money(exercise.cash_reward)
      +star_wars_points(exercise.point_reward)
    p La correction peut prendre jusqu'à 14 jours ouvrables.
    p Pour procéder, sélectionnez simplement le fichier que vous désirez téléversé depuis votre disque personnel. Si vous voulez soumettre un ensemble de fichiers, veuillez les archiver préalablement sous format ZIP.
    ul
      li Seuls les extensions .java et .zip sont acceptées pour la remise.
      li La taille maximale du fichier est 20 Mo.
    p Si vous avez des précisions à apporter ou tout autre commentaire que vous désirez transmettre avec la solution, veillez utiliser la zone commentaire ci-dessous.
    textarea(rows=6 placeholder="Commentaires")
    div.d-flex.justify-content-end
      div.mission-submit.mt-4.mr-4
        i.fas.fa-file-code
        label#uploadLabel(for='exerciseUpload') Remise d'exercice
        input#exerciseUpload(type='file' name='exercise' accept='.zip,.java')
      div.mission-upload.mt-4.mr-0.disabled
        i.fas.fa-file-upload
        label(for='exercice-submit') Soumettre le fichier
        input#exercice-submit(type='submit' disabled=true)
block script
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src='/javascripts/upload.js')
