extends ../mixins/layout

block title
  title #{exercise.name} - Code Wars

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  +flash
  form.single-mission-detail(action="/submit/exercise" method="post" enctype="multipart/form-data")
    h1#mission-title=exercise.name
    hr.separator
    h3 Debriefing
    p.mission-description=exercise.description
    div.mission-info
      .mission-week
        i.fas.fa-calendar-alt
        span Semaine 2
      .mission-cash-reward
        img(src="/assets/images/credit_symbol.png")
        span #{exercise.cash_reward}
      .mission-point-reward
        i.fab.fa-ethereum
        span #{exercise.point_reward}
      .mission-state
        i.far.fa-times-circle.not-submitted
        span Exercice non-remis
      .mission-difficulty-container
        span Difficulté
        div.difficulty-stars
          - var i = 0
          - var difficultyDifference = 5 - exercise.difficulty;
          while i < exercise.difficulty
            i.fas.fa-star.active
            - i++
          - var i = 0
          while i < difficultyDifference
            i.fas.fa-star
            - i++
    div.mission-execution-example
      h3 Exemple d'éxécution
      pre=exercise.execution_exemple
    div.mission-submit
      i.fas.fa-file-code
      label(for='exercice-upload') Remise d'exercice
      input#exercice-upload(type='file' name='exercise' accept='.zip,.rar,.7zip,.java')
    div.mission-upload
      i.fas.fa-file-upload
      label(for='exercice-submit') Soumettre le/les fichier(s)
      input#exercice-submit(type='submit')

