include ../mixins/base
extends ../mixins/layout

block title
  title Missions - Code Wars

block header
  include ../mixins/header
  +header()

block body
  #circle
  #circleSmallRight
  +flash
  .row.mission-header
    h1.mb-3 Missions
  if user.isTeacher
    .container.d-flex.justify-content-end
      a(href='/management/exercises').mr-5
        button.btn.btn-yellow#Btn
          p
            i.fas.fa-plus-square
            | Gestion des missions
  .all-missions.container
    each week, index in exercisesByWeek
        .week
          button.bg-transparent.btn.row.mb-4.d-flex.align-items-end(data-toggle=index)
            i.mb-1.ml-3.fa.fa-chevron-down.fa-2x
            h2.ml-3.mb-0 Semaine #{week.number} - #{week.startDate}
          .week-exercises(id="weekExercises" + index)
            each exercise, index in week
              if index !== 'startDate' && index !== 'number'
                .single-mission-row.mb-5
                  .mission-information
                    .mission-information-header
                      h4 #{exercise.name}
                      .mission-results
                        p Récompense de
                          span #{exercise.cash_reward} $
                          | et
                          span #{exercise.point_reward} points
                    hr
                  .mission-detail
                    p #{exercise.description}
                    .detail-link
                      a(href="/exercises/" + exercise.id)
                        i.fas.fa-info-circle.fa-2x
block script
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src='/javascripts/toggleWeek.js')