extends ../mixins/layout

block title
  title #{exercise.name} - Code Wars

block header
  +header()

block body
  +flash
  form.single-mission-detail(action=action  method="post" enctype="multipart/form-data")
    input(type="hidden" name="exerciseName" value=exercise.name)
    h1#mission-title=exercise.name
    hr.separator
    h3.mb-2 Débriefing de la mission
    p.mission-description=exercise.description
    .mission-info.px-0
      .row.mission-week
        .col-2.mb-0
          i.fas.fa-calendar-alt
        .col-8.mb-0
          span Semaine #{exercise.week_id}
      .row.mission-cash-reward
        .col-2.mb-0
          img(src="/assets/images/credit_symbol.png")
        .col-8.mb-0
          span #{format('decimal', exercise.cash_reward, 0, 0)}
      .row.mission-point-reward
        .col-2.mb-0
          i.fab.fa-ethereum
        .col-8.mb-0
          span #{format('decimal', exercise.point_reward, 0, 0)}
      .row.mission-state
        if !submitted
          .col-2.mb-0
            i.far.fa-times-circle.not-submitted
          .col-8.mb-0
            span.font-weight-light Non-remis
        else
          .col-2.mb-0
            i.far.fa-check-circle.submitted
          .col-8.mb-0
            span Remis
      .col-8.mission-difficulty-container
        span Difficulté
        .difficulty-stars
          - var i = 0
          - var difficultyDifference = 5 - exercise.difficulty;
          while i < exercise.difficulty
            i.fas.fa-star.active
            - i++
          - var i = 0
          while i < difficultyDifference
            i.fas.fa-star
            - i++
    div.mission-execution-example
      h3 Exemple d'exécution
      pre=exercise.execution_exemple
    div.mission-submit
      a(href="/exercises/submit/" + exercise.id)
        if (student.team_name == "Sith")
          img.submit-team(src="/assets/images/sith.png")
        else if (student.team_name == "Rebel")
          img.submit-team(src="/assets/images/rebel.png")
        else
          img.submit-team(src="/assets/images/dark_vador.png")
        span Soumettre un solution

block script
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src='/javascripts/upload.js')
