extends ../mixins/layout

block title
  title Profile - Code Wars

block header
  +header()

block body
  #circle
  #circleSmall
  #circleSmallRight
  +flash
  .container.py-5
    .row
      .col-lg-4
        .card.mb-4
          .card-body.text-center
            img.rounded-img(src=profileImageUrl)
            h5.my-3 #{user.firstname} #{user.lastname}
            p.text-muted.mb-1 #{student.points} pts
            p.text-muted.mb-4 #{format('money', student.cash)}
        include ../mixins/notificationLayout
        +notificationLayout(notifications)
      .col-lg-8
        .card.mb-4
          include ../mixins/profileInfo
          .card-body
            h2.text-center.mb-3 Informations du compte
            +profileInfo("Nom", user.lastname)
            hr
            +profileInfo("Pénom", user.firstname)
            hr
            +profileInfo("Équipe", student.team_name)
            hr
            +profileInfo("Mot de passe", "********")
            .row.justify-content-md-end.mx-3
              a.btn.btn-yellow.text-dark(href="/management/profile")
                | Modifier le compte 
                i.fas.fa-edit
        .row
          .card.mb-4.w-100
            .card-body
              h2.text-center.mb-3 Progression individuelle
              p.text-center.mb-0 Vous avez complété #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal}
              include ../mixins/weekProgress
              .m-4
                each week in weeklyProgress
                  +weekProgress(week)
        .row
          .card.mb-4.w-100
            .card-body
              h2.text-center.mb-3 Mes achats
              include ../mixins/myItem
              .m-4
                .row
                  .col-4
                    h5.mb-0 Nom de l'item
                  .col-6
                    h5.mb-0 Description
                  .col-2
                    h5.mb-0 Date
                hr.mt-1
                if myItems == null
                  h6.text-center Vous n'avez encore fait aucun achat
                    .text-center.mt-3
                      a.btn.btn-yellow.text-dark(href="/exercises")
                        | Aller aux missions
                else
                  each item in myItems
                    +itemRow(item)


