extends ../mixins/layout

block title
  title Profil - Code Wars

block header
  +header()

block body
  .container.py-5.px-0.profile
    .row.mb-4
      .col-lg-4
        .card
          .card-body.text-center.main-card
            if isTeacher
              img.rounded-img.mt-2(src=gravatarUrl)
            else
              if profileImageUrl !== null
                img.rounded-img.mt-2(src=profileImageUrl)
              else
                .d-flex.justify-content-center.align-items-center
                  .profile-bg.rounded-img
                  p.initials-profile.mb-0 #{student.initials}
            h6.text-muted.mt-3 #{studentProfile.da}
            h5 #{studentProfile.username}
            div.d-flex.justify-content-center.my-2.mt-3
              .mx-3
                +star_wars_money(studentProfile.cash)
              .mx-3
                +star_wars_points(studentProfile.points)
      .col-lg-8
        .card.mb-4.profile-first-elems
          include ../mixins/profileInfo
          .card-body.main-card
            h2.mb-4 Informations du compte
            +profileInfo("Nom", studentProfile.lastname)
            hr
            +profileInfo("Prénom", studentProfile.firstname)
            hr
            +profileInfo("Équipe", studentProfile.team_name)
            hr
            +profileInfo("E-mail", studentProfile.email)
            if !isTeacher
              hr
              +profileInfo("Mot de passe", "•••••••••••••••••")
            br
            if !isTeacher
              .d-flex
                a#editProfileBtn.btn.btn-yellow.w-100.mr-2(href="/profile/edit")
                  i.fas.fa-edit.mr-2
                  | Modifier le compte
                a#editProfileBtn.btn.btn-yellow.w-100.ml-2(href="/profile/editMdp")
                  i.fas.fa-lock.mr-2
                  | Modifier le mot de passe
    .row
      .col
        .row
          .card.mb-4.w-100
            .card-body.main-card
              h2.mb-3 Progression individuelle
              hr
              if user.isTeacher
                p.mb-2 L'élève a complété #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal} complétées
              else
                p.mb-2 Vous avez complété #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal}
              .my-4
                each week in weeklyProgress
                  +weekProgress(week)
          .card.mb-4.w-100
            .card-body.main-card
              include ../mixins/myItem
              if user.isTeacher
                h2.mb-3 Achats de l'élève
                if items != null
                  table.table
                    thead
                      th Nom de l'item
                      th Description
                      th Date
                    tbody
                      each item in items
                        +itemRow(item)
                else
                  small.text-muted.mb-3 L'élève n'a fait aucun achat
              else
                h2.mb-3 Mes achats
                if items != null
                  table.table
                    thead
                      th Nom de l'item
                      th Date
                    tbody
                      each item in items
                        +itemRow(item)
                else
                  small.text-muted Vous n'avez fait aucun achat
                .text-center.mt-3
                  a.btn.btn-yellow(href="/market")
                    i.fas.fa-shopping-cart.mr-2
                    | Aller au magasin
        .row
          .card.mb-4.w-100
            .card-body.main-card
              if user.isTeacher
                h2.mb-3 Exercises de l'élève
                if exercises != null
                  table.table
                    thead
                      th Nom de la mission
                      th Date de remise
                      th Corrigé
                      th Points
                      th Argent
                    tbody
                      each exercise in exercises
                        +exerciseRow(exercise)
                else
                  small.text-muted Aucune mission complété
              else
                h2.mb-3#exerciseSection Mes exercices faits
                if exercises != null
                  table.table
                    thead
                      th Nom de la mission
                      th Date de remise
                      th Corrigé
                      th Points
                      th Argent
                    tbody
                      each exercise in exercises
                        +exerciseRow(exercise)
                else
                  small.text-muted Vous n'avez complété aucune mission
                .text-center.mt-3
                  a.btn.btn-yellow(href="/exercises")
                    i.fas.fa-jedi.mr-2
                    | Aller aux missions
      each exercise in exercises
        if exercise.comments != null
          +commentModal("Commentaire du professeur" , exercise.comments, "commentModal" + exercise.id)