extends ../mixins/layout

block title
  title Profil - Code Wars

block header
  +header()

block body
  .container.py-5.px-0
    .row
      .col-lg-4
        .card
          .card-body.text-center
            if isTeacher
              img.rounded-img.mt-2(src=gravatarUrl)
            else
              img.rounded-img.mt-2(src=profileImageUrl)
            h5.my-3 #{studentProfile.username}
            h6.text-muted.my-1 #{user.da}
            div.d-flex.align-items-center.flex-column
              +star_wars_money(studentProfile.cash)
              +star_wars_points(studentProfile.points)
      .col-lg-8
        .card.mb-4.profile-first-elems
          include ../mixins/profileInfo
          .card-body
            h2.mb-4 Informations du compte
            +profileInfo("Nom", studentProfile.lastname)
            hr
            +profileInfo("Prénom", studentProfile.firstname)
            hr
            +profileInfo("Équipe", studentProfile.team_name)
            hr
            +profileInfo("E-mail", studentProfile.email)
            if !isTeacher
              hr
              +profileInfo("Mot de passe", "•••••••••••••••••")
            br
            if !isTeacher
              .d-flex
                a#editProfileBtn.btn.btn-yellow.w-100.mr-2(href="/profile/edit")
                  i.fas.fa-edit.mr-2
                  | Modifier le compte
                a#editProfileBtn.btn.btn-yellow.w-100.ml-2(href="/profile/editMdp")
                  i.fas.fa-lock.mr-2
                  | Modifier le mot de passe
    .row
      .col
        .row
          .card.mb-4.w-100
            .card-body
              h2.mb-3 Progression individuelle
              hr
              if isTeacher
                p.mb-0 #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal} complétées
              else
                p.mb-0 Vous avez complété #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal}
              include ../mixins/weekProgress
              .m-4
                each week in weeklyProgress
                  +weekProgress(week)
          .card.mb-4.w-100
            .card-body
              if isTeacher
                h2.mb-3 Achats de l'élève
              else
                h2.mb-3 Mes achats
              include ../mixins/myItem
              if isTeacher
                h6.mb-3 Aucun achat
              if items != null
                table.table
                  thead
                    th Nom de l'item
                    th Description
                    th Date
                  tbody
                    each item in items
                      +itemRow(item)
              else
                small.text-muted Vous n'avez encore fait aucun achat
              .text-center.mt-3
                a.btn.btn-yellow(href="/market")
                  i.fas.fa-shopping-cart.mr-2
                  | Aller au magasin
        .row
          .card.mb-4.w-100
            .card-body
              h2.mb-3 Mes exercices faits
              include ../mixins/myExercise
              if isTeacher
                h6.mb-3 Aucune mission complétée
              if exercises != null
                table.table
                  thead
                    th Nom de la mission
                    th Date de remise
                    th Corrigé
                    th Points
                    th Argent
                  tbody
                    each exercise in exercises
                      +exerciseRow(exercise)
              else
                small.text-muted Vous n'avez complété aucune mission

              .text-center.mt-3
                a.btn.btn-yellow(href="/exercises")
                  i.fas.fa-jedi.mr-2
                  | Aller aux missions

block script
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src='/javascripts/toggleComment.js')