extends ../mixins/layout

block title
  title Profil - Code Wars

block header
  +header()

block body
  +flash
  .container.py-5
    .row
      .col-lg-4
        .card.mb-4
          .card-body.text-center
            if isTeacher
              img.rounded-img.mt-2(src=gravatarUrl)
            else
              img.rounded-img.mt-2(src=profileImageUrl)
            h5.my-3 #{studentProfile.username}
            h6.text-muted.my-1 #{user.da}
            div.d-flex.justify-content-center
              +star_wars_money(studentProfile.cash)
            div.d-flex.justify-content-center
              +star_wars_points(studentProfile.points)
      .col-lg-8
        .card.mb-4
          include ../mixins/profileInfo
          .card-body
            h2.text-center.mb-4 Informations du compte
            +profileInfo("Nom", studentProfile.lastname)
            hr
            +profileInfo("Prénom", studentProfile.firstname)
            hr
            +profileInfo("Équipe", studentProfile.team_name)
            hr
            +profileInfo("E-mail", studentProfile.email)
            if !isTeacher
              hr
              +profileInfo("Mot de passe", "********")
            if !isTeacher
              .row.justify-content-md-end.mx-3
                a#editProfileBtn.btn.btn-yellow.text-dark(href="/profile/edit")
                  | Modifier le compte
                  i.fas.fa-edit
    .row
      .col
        .row
          .card.mb-4.w-100
            .card-body
              h2.text-center.mb-3 Progression individuelle
              if isTeacher
                p.text-center.mb-0 #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal} complétées
              else
                p.text-center.mb-0 Vous avez complété #{individualProgress.nbExercisesDone} mission(s) sur #{individualProgress.nbExercicesTotal}
              include ../mixins/weekProgress
              .m-4
                each week in weeklyProgress
                  +weekProgress(week)
        .row
          .card.mb-4.w-100
            .card-body
              if isTeacher
                h2.text-center.mb-3 Achats de l'élève
              else
                h2.text-center.mb-3 Mes achats
              include ../mixins/myItem
              .m-4
                .row
                  .col-4
                    h5.mb-0 Nom de l'item
                  .col-5
                    h5.mb-0 Description
                  .col-2
                    h5.mb-0 Date
                hr.mt-1
                if items == null
                  if isTeacher
                    h6.text-center.mb-3 Aucun achat
                  else
                    h6.text-center Vous n'avez encore fait aucun achat
                else
                  each item in items
                    +itemRow(item)
                if !isTeacher
                  .text-center.mt-3
                    a.btn.btn-yellow.text-dark(href="/market")
                      | Aller au magasin
        .row
          .card.mb-4.w-100
            .card-body
              h2.text-center.mb-3 Mes exercices faits
              include ../mixins/myExercise
              .m-4
                .row
                  .col-4
                    h5.mb-0 Nom de la mission
                  .col-3
                    h5.mb-0 Date de remise
                  .col-4
                    h5.mb-0.text-center Corrigé
                hr.mt-1
                if exercises == null
                  if isTeacher
                    h6.text-center.mb-3 Aucune mission complétée
                  else
                    h6.text-center Vous n'avez complété aucune mission
                else
                  each exercise in exercises
                    +exerciseRow(exercise)
                if !isTeacher
                  .text-center.mt-3
                    a.btn.btn-yellow.text-dark(href="/exercises")
                      | Aller aux missions


block script
  script(src='/javascripts/vendor/jquery-3.5.1.min.js')
  script(src='/javascripts/toggleComment.js')